@using Medicio.DAL.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<header id="header" class="header sticky-top">

    <!-- Top Bar -->
    <div class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            @if (ViewBag.IsAdminOrSuperAdmin == true)
            {
                <a asp-area="Dashboard" asp-controller="Departments" asp-action="Index" class="nav-link">
                    <i class="fas fa-bars">dash</i>
                </a>
            }

            <div class="d-none d-md-flex align-items-center">
                <i class="bi bi-clock me-1"></i> Monday - Saturday, 8AM to 10PM
            </div>
            <div class="d-flex align-items-center">
                <i class="bi bi-phone me-1"></i> Call us now +1 5589 55488 55
            </div>
        </div>
    </div>
    <!-- End Top Bar -->
    <!-- Branding and Navigation -->
    <div class="branding d-flex align-items-center">
        <div class="container position-relative d-flex align-items-center justify-content-end">

            <!-- Logo -->
            <a  class="logo d-flex align-items-center me-auto">
                <img src="~/Files/img/logo.png" alt="">
                <!-- <h1 class="sitename">Medicio</h1> -->
            </a>

            <!-- Navigation Menu -->
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#departments">Departments</a></li>
                    <li><a href="#doctors">Doctors</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <!-- Appointment Button -->
            <a class="cta-btn" href="#appointment">Make an Appointment</a>

            <!-- Logout Button if Signed In -->
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-controller="Account"
                      asp-action="Logout"
                      method="post"
                      class="ms-3">
                    <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
                </form>

            }
            else
            {
                 <form asp-controller="Account"
                      asp-action="Login"
                      method="post"
                      class="ms-3">
                    <button type="submit" class="btn  btn-outline-primary btn-sm">Login</button>
                </form> 
            }
        </div>
    </div>
</header>
