@model QuestionsVM
@section Header {
    Questions
}
@section loc {
    edit
}
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-controller="Questions" asp-action="Edit">

            <div class="card-body">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="questions">Questions</label>
                    <input asp-for="questions" class="form-control" placeholder="Enter Questions ">
                </div>
                <div class="form-group">
                    <label asp-for="answer">Description</label>
                    <input asp-for="answer" class="form-control" placeholder="Enter answer">
                </div>
                
                <div class="form-group">
                    <label asp-for="IsDeleted"></label>
                    <input asp-for="IsDeleted">
                    <span>@(Model.IsDeleted ? "Deleted" : "Active")</span>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">update</button>
            </div>
        </form>
    </div>
</div>