
@{
    ViewData["Title"] = "emailconf";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

    <style>
    
        div{
            text-align:center;
            font-size:25px;
        }
        div a{
            color:yellow;
            text-decoration:none;
            font-size:50px;
        }
</style>

<div class="dd">
    <h1>emailconf</h1>
    <h3>we go email pecase conf email <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&ifkv=ARpgrqe4xNXzOrsFtPQwM_1mw4N4ybj8Cp5TWLNmIdyhvQc1yV_mWdyyHoOSgRd2YiKISDRNpxWo&osid=1&passive=1209600&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-802951319%3A1729586355109366&ddm=0">go email</a></h3>



</div>
