@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="sign-in">
    <div class="container">
        <div class="signin-content">


            <div class="signin-form">
                <h2 class="form-title">reset password</h2>
                <form method="POST" class="register-form" id="login-form" asp-controller="Account" asp-action="ResetPassword">
                    <div class="form-group">
                        <label asp-for="NewPassword"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="NewPassword" placeholder="NewPassword" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">
                            <i class="zmdi zmdi-lock"></i>
                        </label>
                        <input asp-for="ConfirmPassword" placeholder="Password" />
                    </div>
                    <input asp-for="Email" type="hidden" />
                    <input asp-for="Token" type="hidden" />

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

